@model CHQTCSDL_QLBH.Models.NHACUNGCAP

@{
    ViewBag.Title = "Cập nhật nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cập Nhật Nhà Cung Cấp</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MANCC)

        <div class="form-group">
            @Html.LabelFor(model => model.TENNCC, "Tên NCC", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENNCC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENNCC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIACHI, "Địa chỉ",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QUOCGIA, "Quốc gia",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="QUOCGIA">
                    @foreach (var country in ViewBag.Countries)
                    {
                        <option value="@country" @(country == ViewBag.QuocGia ? "selected" : "")>@country</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.QUOCGIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay về", "DanhSachNCC")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
