@model CHQTCSDL_QLBH.Models.NHACUNGCAP

@{
    ViewBag.Title = "Thêm nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm Nhà Cung Cấp</h2>
@if (TempData["Failed"] != null)
{
    <div class="alert alert-danger">@TempData["Failed"]</div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TENNCC, "Tên NCC", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENNCC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENNCC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIACHI, "Đia chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QUOCGIA, "Quốc gia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="QUOCGIA">
                    <option value="Việt Nam">Việt Nam</option>
                    <option value="Việt Nam">Việt Nam</option>
                    <option value="Japan">Nhật Bản</option>
                    <option value="Nhật Bản">Trung Quốc</option>
                    <option value="Vương Quốc Anh">Vương Quốc Anh</option>
                    <option value="Đức">Đức</option>
                    <option value="Ý">Ý</option>
                    <option value="Nga">Nga</option>
                    <option value="Hàn Quố">Hàn Quốc</option>
                    <option value="Thái Lan">Thái Lan</option>
                </select>
                @Html.ValidationMessageFor(model => model.QUOCGIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay về", "DanhSachNCC")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}