@model CHQTCSDL_QLBH.Models.CTPN

@{
    ViewBag.Title = "Cập nhật chi tiết phiếu nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cập nhật chi tiết phiếu nhập</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
@if (TempData["Failed"] != null)
{
    <div class="alert alert-danger">@TempData["Failed"]</div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MAPN, "Mã phiếu nhập", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@ViewBag.PhieuNhap" class="form-control" disabled />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MASP, "Sản phẩm",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@ViewBag.SanPham" class="form-control" disabled />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SLNHAP, "Số lượng nhập", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SLNHAP, new { htmlAttributes = new { @class = "form-control", @min = 1, @type = "number" } })
                @Html.ValidationMessageFor(model => model.SLNHAP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DONGIANHAP, "Đơn giá nhập", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DONGIANHAP, new { htmlAttributes = new { @class = "form-control", @min = 1, @type = "number" }})
                @Html.ValidationMessageFor(model => model.DONGIANHAP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <a href="~/ChiTietPhieuNhap/DanhSachCTPN?MAPN=@ViewBag.PhieuNhap" class="btn btn-warning">Quay về</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
