@model CHQTCSDL_QLBH.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa sản phẩm</h2>

<h3>Bạn có chắc chắn muốn xóa sản phẩm này?</h3>
@if (TempData["Failed"] != null)
{
    <div class="alert alert-danger">@TempData["Failed"]</div>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            Số lượng tồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLTON)
        </dd>

        <dt>
            Đơn vị tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVT)
        </dd>

        <dt>
            Đơn giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONGIA)
        </dd>

        <dt>
            Loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISANPHAM.TENLOAI)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />   
            <span><a href="~/Home/Home" class="btn btn-default">Quay về</a></span>
        </div>
    }
</div>
